@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

.comma::after {
  content: ',';
}

.comma:last-child::after {
  content: '.';
}

/* 
::-webkit-scrollbar {
  width: 0;
  height: 0;
} */
